#waterfall {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  height: 100vh;
  align-items: stretch;
  overflow-y: auto;
}
#uploadFont {
  
}
#controls {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 20rem;
  padding: var(--spacing-sm);
  height: fit-content;
}
#results {
  width: 100%;
  text-align: center;
  overflow-y: auto;
}
#features {
  flex-wrap: wrap;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}